<div id="container" hx-swap-oob="true">
  <img id="lobby-bg" style="display: none;">
  <div id="holder">
    <div id="instant-buttons">
      <button hx-post="/lobby/create/2400" hx-swap="none">Start ARAM - Mayhem</button>
      <button hx-post="/lobby/create/480" hx-swap="none">Start Swiftplay</button>
      <button hx-post="/lobby/create/420" hx-swap="none">Start SoloQ</button>
    </div>
    <div id="queue-control">
      <div>
        <button hx-post="/lobby/queue/start" hx-swap="none">
          Start queue
        </button>
        <button hx-post="/lobby/queue/stop" hx-swap="none">
          Stop queue
        </button>
      </div>
      <b id="queue_timer">Not in queue</b>
    </div>
    <div id="toggle-buttons">
      <div>
        <input hx-post="/settings/queue/toggle-accept" hx-swap="none" type="checkbox" id="auto-accept-switch">
        <b>Auto-accept queue</b>
      </div>
      <div>
        <input hx-post="/settings/queue/toggle-honor-skip" hx-swap="none" type="checkbox" id="auto-honor-skip-switch">
        <b>Auto-skip honor</b>
      </div>
      <div>
        <input hx-post="/settings/queue/toggle-honor-lobby" hx-swap="none" type="checkbox" id="auto-honor-lobby-switch">
        <b>Auto-honor lobby</b>
      </div>
      <div>
        <input hx-post="/settings/toggle-auto-claim-rewards" hx-swap="none" type="checkbox" id="auto-claim-rewards-switch">
        <b>Auto-claim rewards</b>
      </div>
    </div>
  </div>
</div>